<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            displaying the data which sent from backend
        </h1>
        <h1>
            this is student name {{name}}
        </h1>
 {% if age > 10 %}       
  <h1>this is the age of student {{age}}</h1>
 {% endif %}     
 <h1><a href=" {% url 'if_conditions' %}"> clike here to navigate </a></h1>
 
 

    </center>
   
    
</body>
</html>